{% extends 'default.html.twig' %}
{% block contenido %}
    {% block titulo %}
    <h1>Bolsa de Trabajo</h1>
    {% endblock %}
    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.dni) }}
        {{ form_row(form.direccion) }}
        {{ form_row(form.telefono) }}
        {{ form_row(form.email) }}
        {{ form_row(form.puesto) }}

        <button type="submit" class="btn">Registrar</button>
    {{ form_end(form) }}
    <a href="{{ path('home') }}">Cancelar</a>
{% endblock %}
